<form class="box" action="/waterfall/{{waterfall._id}}/addpoi" method="POST">
  <label>Enter Point Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Type" name="type" value="{{values.type}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description" value="{{values.description}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter X Coordinate" name="xCoordinate" value="{{values.xCoordinate}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Y Coordinate" name="yCoordinate" value="{{values.yCoordinate}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add POI</button>
</form>
