<form class="box" action="/waterfall/{{waterfall._id}}/addpoi" method="POST">
  <label>Enter Point Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Type (e.g., Hospital, Police Station, Restaurant, Grocery, etc.)" name="type" value="{{values.type}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description" value="{{values.description}}">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter Latitude" name="latitude" value="{{values.latitude}}" min="-90" max="90" step="any">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter Longitude" name="longitude" value="{{values.longitude}}" min="-180" max="180" step="any">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add POI</button>
</form>
