{{> menu active="user-profile"}}

<section class="section">
  <h1 class="title">Edit your Profile</h1>
  <form action="/user-profile/update/{{user._id}}" method="POST">
    <label class="label">Name</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <input class="input" type="text" placeholder="Enter first name" name="firstName" value="{{user.firstName}}">
        </div>
        <div class="field">
          <input class="input" type="text" placeholder="Enter last name" name="lastName" value="{{user.lastName}}">
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Email</label> <input class="input" type="text" placeholder="Enter email" name="email"
        value="{{user.email}}">
    </div>
    <div class="field">
      <label class="label">Password</label> <input class="input" type="password" placeholder="Enter Password"
        name="password" value="{{user.password}}">
    </div>
    <div class="field is-grouped">
      <button class="button is-link">Update</button>
    </div>
  </form>


</section>