<form class="box" action="/waterfall/{{waterfall._id}}/addpoi" method="POST" enctype="multipart/form-data">
  <label>Enter Point of Interest Details:</label>

  <div class="columns is-multiline">
    <div class="column is-one-third">
      <div class="field">
        <input type="hidden" name="type" id="POICategoryType" value="{{values.type}}">
        <input type="hidden" name="group" id="POICategoryGroup" value="{{values.group}}">
        <div class="control">
          {{> poi-category-dropdown }}
        </div>
      </div>
    </div>

    <div class="column is-two-thirds">
      <div class="field">
        <input class="input" type="text" placeholder="Description" name="description" value="{{values.description}}">
      </div>
    </div>

    <div class="column is-one-fourth">
      <div class="field">
        <input class="input" type="number" placeholder="Latitude" name="latitude" value="{{values.latitude}}" min="-90"
          max="90" step="any">
      </div>
    </div>

    <div class="column is-one-fourth">
      <div class="field">
        <input class="input" type="number" placeholder="Longitude" name="longitude" value="{{values.longitude}}"
          min="-180" max="180" step="any">
      </div>
    </div>

    {{> image-selection-button }}
  </div>

  <button class="button is-primary">Add POI</button>
</form>