<div class="columns is-multiline">
  {{#each waterfalls}}
  <div class="column is-one-third">
    <div class="card mb-5">
      <header class="card-header">
        <p class="card-header-title">
          {{name}}
          {{!-- References: --}}
          {{!-- https://stackoverflow.com/questions/12297959/access-properties-of-the-parent-with-a-handlebars-each-loop
          --}}
          {{#if (and (or ../isAdmin isPublic) (not isOwner))}}
          <br>
          {{firstName}} {{lastName}} ({{userEmail}})
          {{/if }}

          {{#if isPublic}}
          <span class="tag is-link is-light">🌍 Public</span>
          {{else}}
          <span class="tag is-warning is-light">🔒 Private</span>
          {{/if}}
        </p>
      </header>

      {{#if imagefile}}
      <div class="card-image">
        <figure class="image is-128x128" style="margin: auto; padding-top: 10px;">
          <img src="{{imagefile}}" alt="{{name}}"
            style="width: 100%; height: 100%; object-fit: cover; border-radius: 6px;">
        </figure>
      </div>
      {{/if}}

      <div class="card-content">
        <div class="content">
          <strong>Coordinates:</strong> {{latitude}}, {{longitude}}<br>
          <strong>Description:</strong> {{description}}
        </div>
      </div>

      <footer class="card-footer">
        <a href="/waterfall/{{_id}}" class="card-footer-item">
          <span class="icon">
            <i class="fas fa-folder-open"></i>
          </span>
          &nbsp; View
        </a>

        {{#if canModify}}
        <a href="/dashboard/editwaterfall/{{_id}}" class="card-footer-item">
          <span class="icon">
            <i class="fas fa-edit"></i>
          </span>
          &nbsp; Edit
        </a>

        <a href="/dashboard/deletewaterfall/{{_id}}" class="card-footer-item">
          <span class="icon">
            <i class="fas fa-trash"></i>
          </span>
          &nbsp; Delete
        </a>
        {{/if}}

      </footer>
    </div>
  </div>
  {{/each}}
</div>