<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Type</th>
      <th>Description</th>
      <th colspan="2">Coordinates (Latitude, Longitude)</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each waterfall.POIs}}
    <tr class="row">
      <td class="type">
        {{type}}
      </td>
      <td class="description">
        {{description}}
      </td>
      <td class="coordinates" colspan="2">{{latitude}}, {{longitude}}</td>
      <td>
        <a href="/waterfall/{{../waterfall._id}}/deletepoi/{{_id}}" class="ui icon button">
          <i class="fas fa-trash"></i>
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>