<div class="columns is-multiline">
  {{#each waterfalls}}
  <div class="column is-one-third">
    <div class="card mb-5">
      <header class="card-header">
        <p class="card-header-title">
          {{name}}
        </p>
      </header>

      {{#if img}}
      <div class="card-image">
        <figure class="image is-128x128" style="margin: auto; padding-top: 10px;">
          <img src="{{img}}" alt="{{name}}" style="width: 100%; height: 100%; object-fit: cover; border-radius: 6px;">
        </figure>
      </div>
      {{/if}}

      <div class="card-content">
        <div class="content">
          <strong>Coordinates:</strong> {{latitude}}, {{longitude}}<br>
          <strong>Description:</strong> {{description}}
        </div>
      </div>

      <footer class="card-footer">
        <a href="/waterfall/{{_id}}" class="card-footer-item">
          <span class="icon">
            <i class="fas fa-folder-open"></i>
          </span>
          &nbsp; View
        </a>
        <a href="/dashboard/deletewaterfall/{{_id}}" class="card-footer-item">
          <span class="icon">
            <i class="fas fa-trash"></i>
          </span>
          &nbsp; Delete
        </a>
      </footer>
    </div>
  </div>
  {{/each}}
</div>